#parentDirLinkBox {
  margin-bottom: 10px;
  padding-bottom: 0 !important;
};

#parentDirLinkBox,
#parentDirLinkBox:active,
#parentDirLinkBox:visited {
  align-self: start;
  height: 20px;
  width: 100%;
  padding: 0 !important;
  cursor: pointer;  
  border-radius: var(--size-nano);
  background-color: transparent;
  text-align: start;
}

#parentDirLinkBox a,
#parentDirLinkBox a:active,
#parentDirLinkBox a:visited {
  color: var(--font-color);
}

#parentDirLink {
  background: var(--table-row-background);
  border-radius: var(--size-nano);
  padding: var(--size-quark) var(--size-nano) 0 var(--size-nano);
  width: 20px;
  display: none;
}

#parentDirLink i {
  fill: currentColor;
  height: 24px;
}