#header {
  border: 0;
  padding: var(--size-lg) 0 var(--size-md);
}

table {
  width: 100%;
}

thead .header th {
  padding-bottom: var(--size-xs);
  border: 0;
}

tbody {
  border-radius: 20px;
}

tbody tr {
  height: var(--size-sm);
  background: var(--table-row-background);
}

tbody tr:hover {
  background: var(--hover);
}

tbody td {
  height: var(--size-md);
  padding: 0 var(--size-nano);
  border-top: var(--size-quark) solid var(--background);
  border-bottom: var(--size-quark) solid var(--background);

  font-size: var(--font-size-sm);
}

tbody td:first-child {
  border-radius: var(--size-sm) 0 0 var(--size-sm);
}

tbody td:last-child {
  border-radius: 0 var(--size-sm) var(--size-sm) 0;
}

th, tr, td {
  text-align: center !important;
}

th:first-child, tr:first-child, td:first-child {
  text-align: start !important;
}


