@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --size-quark: 4px;
  --size-nano: 8px;
  --size-xs: 16px;
  --size-sm: 24px;
  --size-md: 32px;
  --size-lg: 40px;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-baseline: 16px;
  --font-size-md: 20px;
  --font-size-lg: 24px;
  --font-size-xl: 32px;

  --purple: #A939FF;
  --white: #ffffff;
  --cyan: #01D4FA;
}

body {
  padding: 0;
  margin: 0;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 72px;
  width: 248px;

  background-color: var(--cyan);
  background-image: linear-gradient(160deg, var(--purple) 0%, var(--cyan) 100%);
}

.popup__logo {
  width: 42px;
  height: 42px;
  -webkit-filter: drop-shadow(0.3px 0.5px 0 var(--white))
                  drop-shadow(-0.3px 0.5px 0 var(--white))
                  drop-shadow(0.5px -0.1px 0 var(--white))
                  drop-shadow(-0.3px -0.3px 0 var(--white));
  filter: drop-shadow(0.3px 0.5px 0 var(--white))
          drop-shadow(-0.3px 0.5px 0 var(--white))
          drop-shadow(0.5px -0.1px 0 var(--white))
          drop-shadow(-0.3px -0.3px 0 var(--white));
}

.popup__title {
  font-family: 'Roboto', sans-serif;
  font-size: calc(var(--size-sm) * 0.8);
  font-weight: 700;
  
  width: auto;
  margin-left: var(--size-nano);
  color: var(--white);
}